<!DOCTYPE html>
<html>
<head>
	<title>Nimbo spinner</title>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/capture.js"></script>
</head>
<body>

	<div id="header">
		<span id="status"><span>
	</div>

	<div id="runner"></div>
</body>
</html>
