<html>
<head>
	<title>Nimbo spinner</title>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/spinner.js"></script>
</head>
<body>

	<div id="spinner">
		<span id="status"><span>
	</div>
	<div id="suite"></div>

</body>
</html>